* {
  font-family: 'Roboto', sans-serif;
}

h5 {
  font-weight: 500;
}

.product-img{
  width: 300px;
  object-fit: contain;
  height: 300px;
  margin-left: auto;
  margin-right: auto
}

.detail-img{
  width: 400px;
}

.product-item-container{
  height: 500px;
  background-color: white;
}

.main-row{
  height: 100%;
  background-color: red
}

.fa-shopping-cart{
  color: white
}

.items-count {
  color: white
}

.summary-item-img{
  width: 200px
}

/* .summary-item-container{
  width: 700px;
  max-width: 900px
} */
